# EmailJS Configuration
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=

# Blog Configuration (RSS2JSON)
VITE_RSS2JSON_API_KEY=

# Google reCAPTCHA v2
VITE_RECAPTCHA_SITE_KEY=
